body {
  margin: 0;
}
#app {
  margin: 0 auto;
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  padding: 0 15px;
  h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    &:last-of-type {
      margin-top: 15%; 
    }
    animation-name: colorChange;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @keyframes colorChange {
      0% {
        color: black;
      }
      100% {
        color: white;
      }      
    }
  }
  button {
    cursor: pointer;
    background-color: #e2e6ea;
    border: none;padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    &:hover {
      background-color: #6b6c6d;
    }
  }
}




